

/*p{
	position: relative;
	top: 150px;
}*/

/*#parent1{
	position: absolute;
	top: 300px;
	left:50px;
	border-color: blue;
	border-style: solid;
	width: 200px;
}*/
* {
    box-sizing: border-box;
} 

body{
	
	background-image: url("wolv.jpg");
	background-position: right top;
}
h1{
	border: 2px solid black ;
	text-align: center;
	background-color: rgba(255,0,255,0.3);
}

p {
	height: 30px;
	font-size: 30px;
	padding: 4px;
	text-align: center;
}

#myDiv{
	width = 100%;
	background-color: rgba(255,0,0,0.3);
	padding: 10px;
	overflow: visible;
}
/*#child1{
	position: relative;
}*/
#userinput {
	font-size: 25px;
	width: 75%;
	height: 50px;
	float: left;
	background-color: rgba(100,100,0,0.3);
}

#enter{
	cursor: pointer;
	font-size: 25px;
	font-family: sans-serif;
	width: 20%;
	height: 50px;
	background-color: rgba(100,100,100,0.6);

}

li{
	position: relative;
	cursor: pointer;
	font-size: 25px;
	list-style-type: asterisks;
	border: 1px solid rgba(100,100,100,0.3);
	height: 35px;
	padding:3px;
	background-color: rgba(150,150,150,0.3);
	width : 60%;
}

ul li.done{
	text-decoration: line-through;
}

li:hover{
	 background-color: #555;
    color: white;
    transform: scale(1.02,1.02) ;
}
#enter:hover{
background-color: #555;
    color: white;
}

.close {
    
    float: right;
    padding: 0px;
    color: #FFF;
}






/*.cooltitle{
	position: relative;
	top: 0px;
	font-family: 'Oswald',sans-serif;
	font-size: 40px;
	transform: skewY(-10deg);
	letter-spacing: 4px;
	word-spacing: -5px;
	color: tomato;
	text-shadow: 
		-1px -1px 0 firebrick,
		-2px -2px 0 firebrick,
		-3px -3px 0 firebrick,
		-4px -4px 0 firebrick,
		-5px -5px 0 firebrick,
		-6px -6px 0 firebrick,
		-7px -7px 0 firebrick,
		10px 10px 20px #AAAAAA;
	margin-top: 0px;
}
*/
